.fixed {
	height: 75px;
	width: 100%;
	background: linear-gradient(15deg, #D2A0FF, #F7FF3A);
	left: 0px;
	top: 0px;
	position:fixed;
	z-index: 1000;
	justify-content: space-around;
	align-items: center;
	display: flex;

}

.inline {
	padding:0;
}

.inline li {
	font-family: "metroregular", serif; 
	/*attention, metroregular n'a pas d'accents*/
	font-size:0.7em;
	list-style: none;
	display: inline-flex;
}

.flex {
	display: inline-flex;
}

li a:focus, 
li a:hover {
	color: #F2FF3A;
}

li a,
li a:visited,  {
	color: #352047;
}

img {
	padding:1.5em;
}

/*a {
	text-shadow: 2px, 2px, 5px #F7FF4E;
}*/